.footer {
  width: 100%; /* O ajusta el ancho aquí si no quieres que ocupe todo el ancho */
  height: 30px; /* Reduce la altura del footer */
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5px 0; /* Reduce el padding (espacio arriba y abajo) */
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  z-index: 1000;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 20px;
}

.footer nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer nav a:hover {
  text-decoration: underline;
}
