/* Cambiar el fondo del Sidebar */
.col-auto.bg-light {
    background-color:#2a4753 !important; /* Negro */
    color: #000000 !important; /* Negro */
    width: 500px; /* Puedes ajustarlo según necesites */
    height: 1900px; /* Hace que el sidebar ocupe toda la altura */
}
